<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Jvedio.Jvedio" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="Jvedio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
			<provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
		</providers>
	</entityFramework>
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite.EF6" />
			<add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
	</system.data>
	<userSettings>
		<Jvedio.Jvedio>
			<setting name="test" serializeAs="String">
				<value>123</value>
			</setting>
		</Jvedio.Jvedio>
		<Jvedio.Properties.Settings>
   <setting name="ShowImageMode" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DisplayNumber" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="DisplayID" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DisplayTitle" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DisplayDate" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DisplayStatusBar" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DisplayFunBar" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ProxyActivation" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SortType" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SortDescending" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ScanGivenPath" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ListenAllDir" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DelFromDBIfDel" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SubSectionFeature" serializeAs="String">
    <value>-,_,cd,fhd,-fhd,_fhd</value>
   </setting>
   <setting name="DLInfo" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DLSmallImage" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DLBigImage" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DLExtraImage" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DLBehind" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DLNFO" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DLNum" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="SearchType" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ActorClickShowAll" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowActorWithId" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="NFOSaveComBoxIndex" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="AllSearchType" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ShowNotice" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AutoCheckUpdate" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Themes" serializeAs="String">
    <value>黑色</value>
   </setting>
   <setting name="EditMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DLLoadUnCensored" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DLLoadCensored" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DLLoadEurope" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DLEnableBus" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DLEnableBusEu" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DLEnableLibrary" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DLEnableDb" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DLEnableFC2" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DLLoadFC2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DLLoadAll" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="BasePicPath" serializeAs="String">
    <value />
   </setting>
   <setting name="Baidu_API_KEY" serializeAs="String">
    <value />
   </setting>
   <setting name="Baidu_SECRET_KEY" serializeAs="String">
    <value />
   </setting>
   <setting name="Enable_BaiduAI" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TitleShowTranslate" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PlotShowTranslate" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TL_YOUDAO_APIKEY" serializeAs="String">
    <value />
   </setting>
   <setting name="TL_YOUDAO_SECRETKEY" serializeAs="String">
    <value />
   </setting>
   <setting name="Enable_TL_YOUDAO" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TL_BAIDU_APIKEY" serializeAs="String">
    <value />
   </setting>
   <setting name="TL_BAIDU_SECRETKEY" serializeAs="String">
    <value />
   </setting>
   <setting name="Enable_TL_BAIDU" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ActorEditMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EnableWindowFade" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DisplayStamp" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Search_MatchAllWord" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Search_Content" serializeAs="String">
    <value />
   </setting>
   <setting name="SearchImmediately" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DisPlayNoStamp" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DisPlayCHS" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DisPlayOutFlow" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DisPlayHDV" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Selected_BorderBrush" serializeAs="String">
    <value>#FFD700</value>
   </setting>
   <setting name="Selected_Background" serializeAs="String">
    <value>#90EE90</value>
   </setting>
   <setting name="SmallImage_Height" serializeAs="String">
    <value>150</value>
   </setting>
   <setting name="SmallImage_Width" serializeAs="String">
    <value>180</value>
   </setting>
   <setting name="BigImage_Height" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="BigImage_Width" serializeAs="String">
    <value>250</value>
   </setting>
   <setting name="ExtraImage_Height" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="ExtraImage_Width" serializeAs="String">
    <value>280</value>
   </setting>
   <setting name="SettingsIndex" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ToolsIndex" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="VedioPlayerPath" serializeAs="String">
    <value />
   </setting>
   <setting name="DataBasePath" serializeAs="String">
    <value />
   </setting>
   <setting name="UpgradeRequired" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Timeout_forcestop" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="Timeout_tcp" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="Timeout_http" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="Timeout_download" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="Timeout_stream" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="IsExpanded1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IsExpanded2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="RecentDays" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="HotKey_Modifiers" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="HotKey_VK" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="HotKey_Enable" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="HotKey_String" serializeAs="String">
    <value />
   </setting>
   <setting name="SearchCandidateMaxCount" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="FilePathClassificationMaxDepth" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="FilePathClassificationMaxCount" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="ScreenShotToExtraPicPath" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="RecentWatchDays" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="GlobalImageWidth" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="MainImageAutoMode" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DisplayFavorites" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="BatchIndex" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DelInfoAfterDelFile" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="OnlyShowSubSection" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DetialWindowShowAllMovie" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DelRenameTitleSpace" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowFileNameIfTitleEmpty" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ScanNfo" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MovieOpacity" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="HalfCutOFf" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="GifImage_Width" serializeAs="String">
    <value>250</value>
   </setting>
   <setting name="SkipExistGif" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DisplayNavigation" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EasyMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowList" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowFilter" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ScanRe" serializeAs="String">
    <value />
   </setting>
   <setting name="ShowSecret" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WebSiteList" serializeAs="String">
    <value />
   </setting>
   <setting name="InfoItemWidth" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="ShowSideTagStamp" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TeenMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ImagePathType" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ActorSortType" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ActorSortDescending" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ActorViewMode" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ShowCreateDateIfReleaseDateEmpty" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SelectedLanguage" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DisplayPage" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="GifImage_Height" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="DisplaySearchBox" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PaginationCombobox" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PageSize" serializeAs="String">
    <value>40</value>
   </setting>
   <setting name="Debug" serializeAs="String">
    <value>False</value>
   </setting>
  </Jvedio.Properties.Settings>
	</userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.11.32.0" newVersion="1.11.32.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>